<div id="dest-evac" class="container white">
	<div class="row mb-0">
		<div class="col s6 center">
			<p>
				<label>
					<input name="dest-evac" type="radio" value="destination" />
					<span>Destination</span>
				</label>
			</p>
		</div>
		<div class="col s6 center">
			<p>
				<label>
					<input name="dest-evac" type="radio" value="evacuation" />
					<span>Evacuation Sites</span>
				</label>
			</p>
		</div>
	</div>
	<div id="dest-evac-search">
		<div class="col s12">
			<input id="destination_input" class="mb-0 hide" placeholder="Search Destination" type="text" autocomplete="off">
			<button id="search_destination" type="button" class="btn blue waves-effect waves-light w-100 hide">Search</button>
		<select>
			<option value="Annafunan Elementary School">Annafunan Elementary School</option>
			<option value="Balzain East Elementary School">Balzain East Elementary School</option>
			<option value="Tuguegarao East Central School">Tuguegarao East Central School</option>
			<option value="Cataggaman Elementary School">Cataggaman Elementary School</option>
			<option value="Tuguegarao North Central School">Tuguegarao North Central School</option>
			<option value="Libag Elementary School">Libag Elementary School</option>
			<option value="Tuguegarao City People's Gymnasium">Tuguegarao City People's Gymnasium</option>
			<option value="Cagayan State University, Andrews Campus">Cagayan State University, Andrews Campus</option>
		</select>
		</div>
	</div>
</div>